<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Name>Request Count</Name>
	<Author>Trey Terrell</Author>
	<Version>1.0</Version>
	<Active>true</Active>
	<Type>Addon</Type>
	<Description>Displays how many times an item has been requested in the past.</Description>
	<Forms>
		<Form>FormRequest</Form>
	</Forms>
	<Files>
		<File>RequestCount.lua</File>
	</Files>
</Configuration>